<ion-header no-border>
    <ion-toolbar color="calm">
      <ion-buttons start>
        <button ion-button color="superLight" clear icon-only (click)="onCloseBasket()">
            <ion-icon name="arrow-down"></ion-icon>
          </button>
      </ion-buttons>
    <ion-title>Mi canasta</ion-title>
      <ion-buttons end>
          <button ion-button color="light" clear icon-only>
              
            </button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>


  <ion-content class="background">
      <!-- Tienda recomendada-->
        <ion-grid padding-left padding-right>
          <ion-row *ngIf="basketProducts == 0">
            <ion-col col-12>
              <ion-card class="emptyBasket">
                <ion-card-header>
                    <h2 class="widgetTitle">Aún no tienes productos agregados</h2>
                </ion-card-header>
                <ion-card-content padding-top class="emptyBasket-content">
                    <p >
                        Pero te invitamos a que pruebes alguno de los productos de tu comunidad :)
                    </p>

                    <ion-row padding-right>
                        <ion-col col-4> </ion-col>
                        <ion-col col-4> </ion-col>
                        <ion-col col-4>
                          <button ion-button  color="calm" small (click)="onCloseBasket()">
                            ¡Ir a comprar!
                          </button>
                        </ion-col>
                        
                      </ion-row>
                  </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="basketProducts">
            <ion-col col-12 *ngFor="let basketProduct of basketProducts; let i = index;">
                <ion-card class="basketProduct-card" >
                    <img [src]="basketProduct.imagePath"/>
                    <div class="overlay"></div>
                    <div class="product-basket-card-title">{{basketProduct.name}}</div>
                    <div class="product-basket-card-subtitle">{{basketProduct.units}}</div>
                    <div class="product-basket-card-description">{{basketProduct.description}}</div>
                    <div class="product-basket-card-seller"><ion-icon name="contact" item-start>
                        </ion-icon> {{basketProduct.seller}} 
                    </div>
                    <div class="product-basket-card-delete">
                        <button ion-button color="superLight" clear roundl icon-only (click)="removeBasketProduct(basketProduct)">
                            <ion-icon name='close'></ion-icon>
                          </button>
                    </div>
                    <div class="product-basket-card-action">
                      <button ion-button color="superLight" round small  icon-only (click)="addAmount(basketProduct)">
                        <ion-icon name='add'></ion-icon>
                      </button>
                      <button ion-button color="superLight" clear small  icon-only>
                          {{basketProduct.amount}}
                      </button>
                      <button ion-button color="superLight" round small icon-only (click)="decreaseAmount(basketProduct)">
                          <ion-icon name='remove'></ion-icon>
                        </button>
                    </div>
                    <div class="product-basket-card-price">
                        ${{(basketProduct.price)*(basketProduct.amount)}}.00
                    </div>
                  </ion-card>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="basketProducts != 0">
            <ion-col col-12 padding-left padding-right>
              <button ion-button block icon-left color="accent" [navPush]="basketInfoPage" [navParams]="basketProducts">
                Continuar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-card  class="recommFeed">
       
          <ion-card-content class="nopaddin-sides">
            <ion-grid *ngIf="basketProducts != 0">
              <!-- Recommendations -->
              <ion-row>
                <ion-col col-12>
                  <ion-card>
                      <ion-toolbar color="superLight">
                          <h2 class="recommTitle" padding-left>Recomendaciones</h2>
                          <ion-buttons end>
                              <button ion-button color="accent" small clear>
                                  <ion-icon name="funnel"></ion-icon>
                                </button>
                          </ion-buttons>
                          </ion-toolbar>
                  </ion-card>
                </ion-col>
              </ion-row>

              <!-- Products -->
              <ion-row>
                  <ion-col col-6 style="padding:0%!important;" *ngFor="let reProduct of recommendedProducts">
                      <ion-card class="product-card">
                          <img [src]="reProduct.imagePath"/>
                          <div class="product-overlay"></div>
                          <div class="product-card-likes">
                              <ion-icon name="heart" item-start></ion-icon>
                              <ion-badge  color="secondary">{{reProduct.likes}}</ion-badge>
                           </div>
                          <div class="product-card-title">{{reProduct.name}}</div>
                          <div class="product-card-subtitle"><ion-icon name="contact" item-start></ion-icon>  {{reProduct.seller}}</div>
                          <div class="product-card-action">
                              <button ion-button color="superLight" round small  icon-only>
                                  <ion-icon name='restaurant'></ion-icon>
                                </button>
                                <button ion-button color="superLight" round small icon-only (click)="addProductToBasket(reProduct)">
                                    <ion-icon name='basket'></ion-icon>
                                  </button>
                          </div>
                          <div class="product-card-price">
                              ${{reProduct.price}}.00
                          </div>
                        </ion-card>
                  </ion-col>
                </ion-row>


            </ion-grid>
          </ion-card-content>
        
        </ion-card>
          
      </ion-content>
