page-basket {
    .background{
        background-color: rgba(173,224,215,1) !important;
    }
    
    .title{
        color: #4D5E68 !important;
    }

    .emptyBasket{
        background-color: #4D5E68;
    }

    .emptyBasket-content{
        background-color: #ffffff;
    }
    .widgetTitle{
        color: #ffffff;
      }
    
    .basketProduct-card{
        position: relative;
        height: 150px;
    }

      .product-basket-card-title {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 22px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .product-basket-card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-delete{
        position: absolute;
        top: 0%;
        right: 1%;
      }
      
      .product-basket-card-description{
        font-size: 12px;
        position: absolute;
        top: 44%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-seller{
        font-size: 12px;
        position: absolute;
        top: 56%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-action{
        position: absolute;
        bottom: 10%;
        right: 5%;
      }

      .product-basket-card-price{
        position: absolute;
        top: 37%;
        right: 10%;
        font-size: 18px;
        font-weight: 600;
        color: #ADE0D7;
      }

      .overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }

      .recommFeed{
        margin: 0 !important;
        height: 70%; 
        width: 100%;
      }

      .nopaddin-sides{
        padding-left: 8 !important;
        padding-right: 8 !important;
      }

      .recommTitle{
        color: #4D5E68;
        font-weight: 700;
      }

      .product-card{
        height: 140px;
        position: relative;
      }

      .product-card-likes{
        position: absolute;
        top: 10%;
        right: 6%;
        color: #F78A9A;
      }

      .product-card-title {
        position: absolute;
        top: 27%;
        left: 6%;
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        color: #fff;
      }
    
      .product-card-subtitle {
        font-size: 10px;
        position: absolute;
        top: 42%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-card-action{
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: white;
      }

      .product-card-price{
        position: absolute;
        bottom: 30%;
        left: 6%;
        font-size: 18px;
        font-weight: 600;
        color: #ADE0D7;
      }


      .product-overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }
}
