

<ion-content padding class="background">

    <ion-slides pager>

        <ion-slide >
            <lottie-animation-view class="animationSlide"
            [options]="lottieConfig01" 
            [width]="350" 
            [height]="600" 
            (animCreated)="handleAnimation($event)">
          </lottie-animation-view>

          <img src="imgs/onboarding/01.png">
          <div class="description">
          <h3 class="boardTitle">Descubre tu comunidad</h3>
          <p class="boardDescription">Encuentra un sinfín de negocios a tu alrededor
              donde podrás hacer pedidos a tu domicilio,
              contribuir a la economía de tu comunidad y
              llevar una mejor relación con tus vecinos.</p>
            </div>
            <button ion-button color="danger" clear class="skipButton" (tap)="skip()">Saltar</button>

        </ion-slide>
      
        <ion-slide >

            <lottie-animation-view class="animationSlide02"
            [options]="lottieConfig02" 
            [width]="150" 
            [height]="250" 
            (animCreated)="handleAnimation($event)">
          </lottie-animation-view>

          <img src="imgs/onboarding/02.png">
          <div class="description">
          <h3 class="boardTitle">Recompensas constantes</h3>
          <p class="boardDescription">Pide, visita, reparte y apoya a tus tiendas
              favoritas. Todas tus acciones serán re
              compensadas con saldo para seguir
              consumiendo tus productos favoritos.</p>
            </div>
            <button ion-button color="danger" clear class="skipButton" (tap)="skip()">Saltar</button>

        </ion-slide>
      
        <ion-slide >

            <lottie-animation-view class="animationSlide03"
            [options]="lottieConfig03" 
            [width]="350" 
            [height]="600" 
            (animCreated)="handleAnimation($event)">
          </lottie-animation-view>

            <img src="imgs/onboarding/03.png" class="donchuy">
            <div class="description">
            <h3 class="boardTitle">Inspírate y únete a Don Chuy</h3>
            <p class="boardDescription">Empieza a repartir o a vender tus propios
                productos y genera ingresos adicionales,
                nuevos clientes y lo más importante, nuevos amigos :)</p>
              </div>
              <button ion-button color="danger"  class="continueButton" [navPush]="LoginPage">¡Empezar!</button>

        </ion-slide>
      
      </ion-slides>


</ion-content>
