page-onboarding {
    .background{
        background: rgba(173,224,215,1);
background: -moz-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,224,215,1)), color-stop(29%, rgba(173,224,215,1)), color-stop(67%, rgba(173,224,215,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 67%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade0d7', endColorstr='#ffffff', GradientType=0 );
    }

    .animationSlide{
        position: absolute;
        z-index: -1;
        left: 5%;
        bottom: 18%
    }

    .animationSlide02{
        position: absolute;
        z-index: -1;
        right: 20%;
        bottom: 46%;
    }

    .animationSlide03{
        position: absolute;
        z-index: -1;
        right: 8%;
        bottom: 26%;
    }

    .boardTitle{
        color: #4D5E68;
    }
    
    .boardDescription{
        color:#bdbdbd;
    }

    .description{
        position: absolute;
        bottom:8%;
    }

    .skipButton{
        position: absolute;
        left: 2%;
        bottom:-0.5%;
    }

    .continueButton{
        position: absolute;
        right: 2%;
        bottom:-0.5%;
    }

    .donchuy{
        padding-bottom: 42%;
    }
}
