<ion-header no-border>
    <ion-navbar color="calm">
    <ion-title>Información del pedido</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding-left padding-right class="background">
    <ion-grid>
        <!-- Dirección -->
        <ion-row>
          <ion-col col-12>
            <ion-card>
                <ion-toolbar color="superLight">
                    <h2 class="recommTitle" padding-left>Dirección de entrega</h2>
                    </ion-toolbar>
            </ion-card>
          </ion-col>
        </ion-row>

        <!-- Address -->
        <ion-row>
            <ion-col col-12 style="padding-top:0%!important;" *ngFor="let address of userAddress">
                <ion-card class="product-card" text-wrap>
                  <ion-card-header>
                      <h3 style="padding-left:0%!important;" class="recommTitle" padding-left>{{address.name}}</h3>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-textarea style="padding:0%!important;" type="text" disabled="{{addressEdition}}"
                      value="{{address.street}} {{address.externalNo}}, {{address.neighborhood}}. {{address.city}}, {{address.state}}. {{address.country}}."></ion-textarea>
                      <p class="noOneHere">Si no estoy dejar con: </p> <ion-input style="padding:0%!important;" type="text" disabled="{{addressEdition}}"
                      value="Vecino"></ion-input>
                  </ion-card-content>
                  <ion-row no-padding style="margin-bottom: 2%!important;">
                    <ion-col col-2></ion-col>
                      <ion-col col-6 text-right>
                          <button ion-button outline small color="accent" icon-start >
                              <ion-icon name='locate'></ion-icon>
                              Encontrarme
                            </button>
                      </ion-col>
                      <ion-col col-4 text-left>
                        <button ion-button outline small color="accent" icon-start (click)="enableEdit()">
                          <ion-icon name='create'></ion-icon>
                          Editar
                        </button>
                      </ion-col>
                    </ion-row>
                  </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12 style="padding-top:0%!important;">
              <ion-card>
                  <ion-toolbar color="superLight">
                      <h2 class="recommTitle" padding-left>Seleccionar método de pago</h2>
                      </ion-toolbar>
              </ion-card>
            </ion-col>
          </ion-row>

                  <!-- Address -->
        <ion-row>
          <ion-col col-6 style="padding-top:0%!important;padding-right:0%!important;">
              <ion-card class="product-card" style="margin-right:0%!important;">
                  <ion-checkbox class="checkPay" color="primary" checked="{{creditCardSelected}}" (click)="selectPayment()"></ion-checkbox>
                <ion-card-header>
                    <h3 style="padding-left:0%!important;" class="recommTitle" padding-left>Bancomer</h3>
                      
                </ion-card-header>
                <ion-card-content>
                    <p class="paymentDescription">
                      VISA terminada en:
                    </p>
                    <p>9673</p>
                    <p class="paymentDescription">
                      Expira:
                    </p>
                    <ion-datetime disabled="{{paymentEdition}}" placeholder="06/28" style="padding:0%!important;" min="2018"  max="2080" displayFormat="MM/YY" ngModel="dateSet"  name="expDate"  class="text"></ion-datetime>
                    <ion-row no-padding style="margin-bottom: 2%!important;">

                        <ion-col col-12 no-padding text-right>
                          <button ion-button outline small color="accent" icon-start (click)="enableEditPayment()">
                            <ion-icon name='create'></ion-icon>
                            Editar
                          </button>
                        </ion-col>
                      </ion-row>
                </ion-card-content>
                </ion-card>
          </ion-col>

          <ion-col col-6 style="padding-top:0%!important;padding-left:0%!important;">
              <ion-card class="product-card" style="margin-right:0%!important;">
                  <ion-checkbox class="checkPay" color="primary" checked="{{chuyMoneySelected}}" (click)="selectPayment()"></ion-checkbox>
                <ion-card-header>
                    <h3 style="padding-left:0%!important;" class="recommTitle" padding-left>Chuyólares</h3>
                </ion-card-header>
                <ion-card-content text-center>
                 <h1>$85.00 MXN</h1>
                    <p class="paymentDescription">
                      Balance actual
                    </p>
                </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
<!--Continuar-->
        <ion-row>
            <ion-col col-12 padding-left padding-right>
              <button ion-button block icon-left color="accent" [navPush]="basketVerificationPage" [navParams]="{basketProducts:basketProducts,chuyMoneySelected:chuyMoneySelected}">
                Continuar
              </button>
            </ion-col>
          </ion-row>


      </ion-grid>
</ion-content>
