page-basket-info {
    

    .recommTitle{
        color: #4D5E68;
        font-weight: 700;
      }

      .noOneHere{
        color: #4D5E68;
        font-weight: 500;
      }

      .paymentDescription{
        color: #4D5E68;
        font-size: 12px;
        font-weight: 500;
      }

      .product-card{
        color: #4D5E68;
        position: relative;
      }

      .checkPay{
        position: absolute;
        top:9%;
        right: 7%;
      }


      .product-card-title {
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        color: #fff;
      }
    
      .product-card-subtitle {
        font-size: 10px;
        color: #fff;
      }

      .product-card-action{

        color: white;
      }

}
