page-login {
    .text{
        color:#424242;  
    }
    .complement-text{
        color:#9e9e9e;
    }
    .background{
        background: rgba(173,224,215,1);
background: -moz-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(173,224,215,1)), color-stop(29%, rgba(173,224,215,1)), color-stop(49%, rgba(173,224,215,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(173,224,215,1) 0%, rgba(173,224,215,1) 29%, rgba(173,224,215,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ade0d7', endColorstr='#ffffff', GradientType=0 );
    }
    /*
    background: rgba(77,94,104,1);
background: -moz-linear-gradient(top, rgba(77,94,104,1) 0%, rgba(77,94,104,1) 29%, rgba(77,94,104,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,94,104,1)), color-stop(29%, rgba(77,94,104,1)), color-stop(49%, rgba(77,94,104,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(77,94,104,1) 0%, rgba(77,94,104,1) 29%, rgba(77,94,104,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(77,94,104,1) 0%, rgba(77,94,104,1) 29%, rgba(77,94,104,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(77,94,104,1) 0%, rgba(77,94,104,1) 29%, rgba(77,94,104,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(77,94,104,1) 0%, rgba(77,94,104,1) 29%, rgba(77,94,104,1) 49%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5e68', endColorstr='#ffffff', GradientType=0 );
*/
}
