<ion-content padding class="background">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
        <img src="imgs/logo_letra_donchuy.svg">
      <ion-card id = "login-card" class="login-card">
        <form #f="ngForm" (ngSubmit)="onLogin(f)">
          <ion-list>

            <ion-item>
              <ion-label floating class="complement-text">Email</ion-label>
              <ion-input type="email"  name="email" class="text" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating class="complement-text">Contraseña</ion-label>
              <ion-input type="password"  name="password" class="text" ngModel required></ion-input>
            </ion-item>


            <ion-grid padding>
              <ion-row justify-content-center align-items-center>
                <ion-col col-8>
                  <p class="complement-text">Olvidé mi contraseña</p>
                </ion-col>
                <ion-col col-4>
                  <button ion-button color="accent" type="submit">Login</button>
                </ion-col>
              </ion-row>

              <ion-row justify-content-center align-items-center>
                <ion-col col-12>
                    <hr>
                </ion-col>
              </ion-row>
              
              <ion-row justify-content-center align-items-center>
                <ion-col col-12>
                  <button ion-button block icon-left color="accent">
                    <ion-icon name="logo-facebook"></ion-icon>
                    Login con Facebook
                  </button>
                </ion-col>
              </ion-row>
              <ion-row justify-content-center align-items-center>
                  <ion-col col-12>
                    <button ion-button block clear icon-right color="accent" [navPush]="signUpPage">
                      Crear mi cuenta
                      <ion-icon name="happy"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
            </ion-grid>

          </ion-list>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
  
</ion-content>
