<ion-content padding class="background">
    <ion-grid style="height: 100%" style="padding-top: 50%">
      <ion-row justify-content-center align-items-center >
          <img src="imgs/logo_letra_donchuy.svg">
          
              <ion-grid>
                <ion-row>
                  <ion-col col-1></ion-col>
                  <ion-col col-10 align="center">
                    <h5 style="color: #4D5E68"><ion-icon name="pin"></ion-icon> Estás en 
                      <span style="color: #ffffff">18 A Sur 5126 Prados Agua Azul, Puebla, Puebla.</span> 
                    </h5> 
                  </ion-col>
                  <ion-col col-1></ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-6>
                      <button ion-button block icon-left color="secondary" (click)="goToFactsPage()">
                          <ion-icon name="ice-cream"></ion-icon>
                          ¡Correcto!
                        </button>
                  </ion-col>
                  <ion-col col-6>
                      <button ion-button block icon-left color="secondary">
                          <ion-icon name="locate"></ion-icon>
                          Encontrarme
                        </button>
                  </ion-col>
                </ion-row>
              </ion-grid>

      </ion-row>
    </ion-grid>
    
  </ion-content>
