<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons start>
        <button ion-button color="superLight" clear icon-only>
            <ion-icon name='paper'></ion-icon>
          </button>
      </ion-buttons>
    
      <ion-buttons end>
          
          <button ion-button color="superLight" clear icon-only (click)="onGoBasket()">
              <ion-badge *ngIf="basketProducts != 0" color="secondary">{{basketProducts}}</ion-badge>
              <ion-icon name='basket'></ion-icon>
            </button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>


<ion-content padding-left padding-right class="background">
    <ion-grid>
        <!-- Header of content -->
        <ion-row>
          <ion-col col-12>
            <ion-card>
                <ion-toolbar color="superLight">
                    <h2 class="recommTitle" padding-left>Mis Logros</h2>
                    
                    </ion-toolbar>
                    <ion-segment color="accent" [(ngModel)]="selector">
                      <ion-segment-button value="comprador">
                        Comprador
                      </ion-segment-button>
                      <ion-segment-button value="repartidor">
                        Repartidor
                      </ion-segment-button>
                      <ion-segment-button value="comerciante">
                          Comerciante
                        </ion-segment-button>
                    </ion-segment>
            </ion-card>
          </ion-col>
        </ion-row>
        <div [ngSwitch]="selector">
        <!-- Weekly challange -->
        <ion-row *ngSwitchCase="'comprador'">
          
            <ion-col col-12 style="padding-top:0%!important;">
                <ion-card class="weekly-challange-card" text-wrap>
                  <ion-card-header>
                      <h2 style="padding-left:0%!important;" class="recommTitle" padding-left>Reto semanal: <span class="recommTitle">Panal de abejas</span></h2>
                      <h4 class="weekChallange">¿Qué colonia puede recolectar más miel?</h4>
                  </ion-card-header>
                  <ion-card-content>
                      <div style="display: block;">
                          <canvas baseChart
                                  height="140"
                                  [datasets]="barChartData"
                                  [labels]="barChartLabels"
                                  [options]="barChartOptions"
                                  [chartType]="barChartType"
                                  (chartClick)="chartClicked($event)"
                                  ></canvas>
                        </div>
                  </ion-card-content>
                  <ion-row no-padding style="margin-bottom: 2%!important;">
                      <ion-col col-12 text-center>
                              
                              <h4 class="weekChallange"><ion-icon name='trophy' style="padding-right: 10px"></ion-icon>Envíos gratis por una semana a la colonia ganadora</h4>
                      </ion-col>
                    </ion-row>
                  </ion-card>
            </ion-col>

            <ion-col col-12 style="padding-top:0%!important;">
                <ion-card class="no-achievments-card" text-wrap>
                  <ion-card-header>
                      <h3 class="no-achievments-title">Parece ser que aún no tienes logros</h3>
                  </ion-card-header>
                  <ion-card-content>
                      <img src="imgs/donChuys/confused.png">
                  </ion-card-content>
                  <ion-row no-padding style="margin-bottom: 2%!important;">
                      <ion-col col-12 text-center>
                              
                              <h4 class="weekChallange"><ion-icon name='happy' style="padding-right: 10px"></ion-icon>No te preocupes :) Don Chuy te 
                              puede ayudar con el primero. <strong>Sólo personaliza más tu perfil</strong></h4>
                      </ion-col>
                      <ion-col col-12 text-center>    
                          <button ion-button color="calm">Personalizar mi perfil</button>
                          </ion-col>
                    </ion-row>
                  </ion-card>
            </ion-col>

            <ion-col col-12 style="padding-top:0%!important;" *ngFor="let achievement of achievements">
                <ion-card class="achievement-card" text-wrap>
                  <ion-card-content>
                      <ion-item>
                          <ion-icon name="{{achievement.icon}}" item-start large color="accent"></ion-icon>
                          <circle-progress class="progress-achievement"
                          [maxPercent]="100"
                          [percent]="(((achievement.progress)/(achievement.totalProgress))*100)"
                          [radius]="18"
                          [space]="-5"
                          [unitsFontSize]="0"
                          [titleFontSize]="12"
                          [title]="achievement.progress + '/' + (achievement.totalProgress).toString()"
                          [showUnits]="false"
                          [outerStrokeWidth]="5"
                          [innerStrokeWidth]="5"
                          [outerStrokeColor]="'#FEC3B7'"
                          [innerStrokeColor]="'#eeeeee'"
                          [showSubtitle]="false"
                          [animation]="true"
                          [animationDuration]="700"></circle-progress>
                          <h2 class="achievements-title">{{achievement.name}}</h2>
                          <p class="colaRole" style="padding-top: 20px !important;">{{achievement.description}}</p>
                        </ion-item>
                      </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>

          <ion-row *ngSwitchCase="'repartidor'">
              <ion-col col-12 style="padding-top:0%!important;">
                  <ion-card class="no-achievments-card" text-wrap>
                    <ion-card-header>
                        <h3 class="no-achievments-title">Aún no eres repartidor pero eso podría cambiar :)</h3>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="imgs/donChuys/wantyou.png">
                    </ion-card-content>
                    <ion-row no-padding style="margin-bottom: 2%!important;">
                        <ion-col col-12 text-center>
                                
                                <h4 class="weekChallange"><ion-icon name='happy' style="padding-right: 10px"></ion-icon>Para disfrutar de los
                                beneficios de ser repartidor sólo tienes que darte de alta :)</h4>
                        </ion-col>
                        <ion-col col-12 text-center>    
                            <button ion-button color="calm">Hacerme repartidor</button>
                            </ion-col>
                      </ion-row>
                    </ion-card>
              </ion-col>
          </ion-row>

          <ion-row *ngSwitchCase="'comerciante'">
              <ion-col col-12 style="padding-top:0%!important;">
                  <ion-card class="no-achievments-card" text-wrap>
                    <ion-card-header>
                        <h3 class="no-achievments-title">¿Quieres ser comerciante con Don Chuy?</h3>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="imgs/donChuys/commerce.png">
                    </ion-card-content>
                    <ion-row no-padding style="margin-bottom: 2%!important;">
                        <ion-col col-12 text-center>
                                
                                <h4 class="weekChallange"><ion-icon name='happy' style="padding-right: 10px"></ion-icon>Si ya tienes
                                un comercio o te gusta hacer algún tipo de producto (como unos ricos pasteles caseros) puedes darte de alta y acercarte más a tu comunidad</h4>
                        </ion-col>
                        <ion-col col-12 text-center>    
                            <button ion-button color="calm">Hacerme comerciante</button>
                            </ion-col>
                      </ion-row>
                    </ion-card>
              </ion-col>
          </ion-row>

          </div>

      </ion-grid>
</ion-content>
