page-achievement {
    .recommTitle{
        color: #4D5E68;
        font-weight: 700;
      }

      .noOneHere{
        color: #4D5E68;
        font-weight: 500;
      }

      .paymentDescription{
        color: #4D5E68;
        font-size: 12px;
        font-weight: 500;
      }

      .product-card{
        color: #4D5E68;
        position: relative;
      }

      .weekly-challange-card{
        background-color: #ffab91;
        color: #fff;
      }
      .weekChallange{
        color: #ffffff;
      }

      .weeklyTitle{
        color: #ffffff;
        font-weight: 700;
      }
      

      .no-achievments-card{
        background-color: #4D5E68;
        color: #fff;
      }

      .no-achievments-title{
        color: #ffffff;
        font-weight: 500;
      }

      .achievement-card{

      }

      .achievements-title{
        color: #4D5E68;
        font-weight: 700;
      }

      .progress-achievement{
        position: absolute;
        right: 0%;
        top: 0%;
      }

      .progress-achievement-text{
        position: absolute;
        right: 20%;
        top: 0%;
      }


      .product-card-title {
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        color: #fff;
      }
    
      .product-card-subtitle {
        font-size: 10px;
        color: #fff;
      }

      .product-card-action{

        color: white;
      }
}
