<ion-header id="header" [ngClass]= "{'page-scroll-header': isScrolled}" [style.background-image]="getBackground(imageHeader)" no-border>
  <div class="darkerLayer"></div>
  <div class="layer"></div>
  <ion-toolbar color="store" class="storeHeader">
    <ion-buttons start>
      <button ion-button color="superLight" clear icon-only (tap)="onCloseBasket()">
          <ion-icon name='arrow-down'></ion-icon>
        </button> 
    </ion-buttons>

    <ion-title>
        {{store[0].name}}
      </ion-title>
  
    <!-- May distract user from store page, better to close store's page and see basket in home home page
    <ion-buttons end>
        <button ion-button color="superLight" clear icon-only (tap)="onGoBasket()">
            <ion-badge *ngIf="products != 0" color="secondary">{{products}}</ion-badge>
            <ion-icon name='basket'></ion-icon>
          </button>
    </ion-buttons>
  -->

    </ion-toolbar> 
   <div *ngIf="!isScrolled" class="store-card-medals">
    <div *ngFor="let store of store">
        <ion-icon class="medals" 
        *ngFor="let medals of store.medals"  
        [name]="medals.icon" duration="1000" 
        arrow [tooltip]="medals.medalName" 
        positionV="top" ></ion-icon>
        </div>
      </div>

      <div *ngIf="!isScrolled" class="supportText">
          <ion-icon  
          name="flag" ></ion-icon>
          {{store[0].currentGoal}}
      </div>

      <button *ngIf="!isScrolled" class="supportBu01" ion-button color="calm" small (tap)="support()">
        Apoyar
      </button>

      <div *ngIf="!isScrolled" class="progressDone">
        <p style="font-size: 10px;">${{((progressTotal)*(25))}} MXN / ${{((progressGoal)*(25))}} MXN</p>
      </div>
      <div *ngIf="isScrolled" class="progressDoneTop">
          <p style="font-size: 12px;"><ion-icon  
            name="flag" ></ion-icon><strong>  Meta: </strong>${{((progressTotal)*(25))}} MXN / ${{((progressGoal)*(25))}} MXN</p>
        </div>
      <div *ngIf="!isScrolled" class="goalProgressSoFar" style="z-index:7">
          <canvas baseChart
                  height="24"
                  [colors]="chartStoreColors"
                  [datasets]="barChartStoreData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="false"
                  [chartType]="barChartType"
                  (chartClick)="chartClicked($event)"
                  ></canvas>
        </div>

      <div *ngIf="!isScrolled" class="goalProgress">
          <canvas baseChart
                  height="24"
                  [colors]="chartColors"
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="false"
                  [chartType]="barChartType"
                  ></canvas>
        </div>

 

      <button  *ngIf="isScrolled" class="supportBu02" ion-button color="calm" small (tap)="support()">
          Apoyar
        </button>

        <ion-segment class="storeMenu" color="superLight" [(ngModel)]="selector">
            <ion-segment-button value="General">
              General
            </ion-segment-button>
            <ion-segment-button value="Productos">
              Productos
            </ion-segment-button>
          </ion-segment>
        
</ion-header>


<ion-content class="background" (press)="onResizeHeader()"  (tap)="onResizeHeader()" padding>
  <div [ngSwitch]="selector">

    <div *ngSwitchCase="'General'">
        <ion-card class="reward">

            <ion-item class="rewardHeader">
              <ion-icon name="trophy" item-left large color="superLight" ></ion-icon>
              <h2 class="colaName">Recompensa semanal:</h2>
              <p class="colaRole">{{store[0].weeklyPrice}}</p>
            </ion-item>
          
            <ion-card-content padding-top>
              <p padding-top class="colaBio">{{store[0].weeklyPriceDescription}}<strong>{{store[0].weeklyPrice}}</strong></p>
            </ion-card-content>
          
          </ion-card>
    <ion-card *ngFor="let colaborator of store[0].colaborators">

        <ion-item>
          <ion-avatar item-start>
            <img src="{{colaborator.profilePicture}}">
          </ion-avatar>
          <h2 class="colaName">{{colaborator.name}}</h2>
          <p class="colaRole">{{colaborator.role}}</p>
        </ion-item>
      
        <ion-card-content padding-top>
          <p padding-top class="colaBio">{{colaborator.bio}}</p>
        </ion-card-content>
      
      </ion-card>

      <ion-card>

          <agm-map 
          [latitude]="location.lat"
          [longitude]="location.lng"
          [zoom]="16">
          </agm-map>

          <ion-fab right top>
            <button ion-fab>
              <ion-icon name="pin"></ion-icon>
            </button>
          </ion-fab>
        
          <ion-item>
            <ion-icon name="pin" item-start large color="superLight"></ion-icon>
            <h2 class="colaName">Mi ubicación</h2>
            <p class="colaRole">11 Sur 5932 Prados Agua Azul, Puebla, Pue. 72430</p>
          </ion-item>
        
          <ion-item>
            <ion-icon name="restaurant" item-left large color="superLight" ></ion-icon>
            <h2 class="colaName">{{store[0].name}}</h2>
            <p class="colaRole">5 Sur 5171 Prados Agua Azul, Puebla, Pue. 72430</p>
          </ion-item>
        
          <ion-item>
            <span item-left class="colaName">18 min</span>
            <span item-lef class="colaRole">(2.6 km)</span>
            <button ion-button icon-left clear item-end>
              <ion-icon name="navigate"></ion-icon>
              Empezar
            </button>
          </ion-item>
        
        </ion-card>

    </div>

    <div *ngSwitchCase="'Productos'">
        <ion-row *ngFor="let product of store[0].products">
            <ion-col col-12>
                <ion-card class="basketProduct-card" >
                    <img [src]="product.imagePath"/>
                    <div class="overlay"></div>
                    <div class="product-card-likes">
                        <ion-icon name="heart" item-start></ion-icon>
                        <ion-badge  color="secondary">{{product.likes}}</ion-badge>
                     </div>
                    <div class="product-basket-card-title">{{product.name}}</div>
                    <div class="product-basket-card-subtitle">{{product.units}}</div>
                    <div class="product-basket-card-description">{{product.description}}</div>
                    <div class="product-basket-card-seller"><ion-icon name="contact" item-start>
                        </ion-icon> {{product.seller}} 
                    </div>
                    <div class="product-basket-card-action">
                      <button ion-button color="superLight" round small  icon-only>
                        <ion-icon name='paper'></ion-icon>
                      </button>
                      <button ion-button color="superLight" round small icon-only (click)="addProductToBasket(product)">
                          <ion-icon name='basket'></ion-icon>
                        </button>
                    </div>
                    <div class="product-basket-card-price">
                        ${{product.price}}.00
                    </div>
                  </ion-card>
            </ion-col>
          </ion-row>

    </div>



    </div>
    

</ion-content>
