<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button color="superLight" clear icon-only (tap)="onLogout()">
          <ion-icon name='log-out'></ion-icon>
        </button>
    </ion-buttons>
  
    <ion-buttons end>
        <button ion-button color="superLight" clear icon-only (tap)="onGoBasket()">
            <ion-badge *ngIf="products != 0" color="secondary">{{products}}</ion-badge>
            <ion-icon name='basket'></ion-icon>
          </button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding-top class="background">

    <ion-fab left bottom>
        <button ion-fab color="calm"><ion-icon name="send"></ion-icon></button>
        <ion-fab-list side="right">
        </ion-fab-list>
      </ion-fab>

    <img src="imgs/user/moinica.jpeg" class="profilePicture">
    <ion-card  class="homeFeed">
      <ion-card-header style="padding-top: 0 !important; padding-left: 10px !important;">
          <ion-item class="userInfo">
            <ion-input style="padding:0%!important;" disabled="{{editEnabled}}" class="profileName" type="text"
          value="{{user.name}} {{user.lastname}}"> </ion-input>
          <button ion-button item-end clear  color="accent" icon-only (tap)="enableEdit();getName();">
              <ion-icon  class="userEditIcon" name="create"></ion-icon> 
            </button>
          </ion-item>
      </ion-card-header>
 
        <ion-card-content class="nopaddin-sides">



            <ion-segment padding-left padding-right color="accent" [(ngModel)]="selector">
                <ion-segment-button value="comprador">
                  Comprador 
                  <ion-icon name="contact"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="repartidor">
                  Repartidor
                  <ion-icon name="bicycle"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="comerciante">
                    Comerciante
                    <ion-icon name="restaurant"></ion-icon>
                  </ion-segment-button>
              </ion-segment>


              
              <div [ngSwitch]="selector">

              <div *ngSwitchCase="'comprador'">

              <ion-row>
                <ion-col>
                    <ion-card class="weekly-challange-card" text-wrap>
                        <ion-card-content>
                            <ion-item class="active-benefit">
                                <ion-icon name="color-wand" item-start large color="superLight"></ion-icon>
                                <h2 class="benefit-title">Mis premios activos</h2>
                                <p class="colaRole">10 envíos gratis durante una semana</p>
                                </ion-item>
                        </ion-card-content>
                        </ion-card>
                </ion-col>

                <ion-col col-12>
                  <h2 padding-left class="detailTittle" >Mis direcciones de entrega</h2>
                </ion-col>
              </ion-row>

              <ion-row *ngFor="let address of address">
                  <ion-card class="product-card" text-wrap>
                         
                      <ion-card-content>
                          <h3 style="padding-left:0%!important;" class="addressTitle" padding-left>{{address.name}}</h3>
                          <ion-input disabled="{{addressEdition}}" style="padding:0%!important;" type="text" 
                          value="{{address.street}} {{address.externalNo}}, {{address.neighborhood}}. {{address.city}}, {{address.state}}."></ion-input>
                          <p class="addressTitle" >Si no estoy dejar con: </p> <ion-input style="padding:0%!important;" type="text" disabled="{{addressEdition}}"
                          value="Vecino"></ion-input>
                      </ion-card-content>
                      <ion-row no-padding style="margin-bottom: 2%!important;">
                        <ion-col col-2></ion-col>
                          <ion-col col-6 text-right>
                              <button ion-button outline small color="accent" icon-start >
                                  <ion-icon name='locate'></ion-icon>
                                  Encontrarme
                                </button>
                          </ion-col>
                          <ion-col col-4 text-left>
                            <button ion-button outline small color="accent" icon-start (tap)="enableAddressEdit()">
                              <ion-icon name='create'></ion-icon>
                              Editar
                            </button>
                          </ion-col>
                        </ion-row>
                      </ion-card>
              </ion-row>

              <ion-row align="center">
              
                  <ion-card>
                    <ion-card-content class="product-card" >
                    <button ion-button color="accent" round large clear icon-only>
                        <ion-icon name='add-circle'></ion-icon>
                      </button>
                      <br>
                      <h3 class="detailTittle">Agregar dirección</h3>
                    </ion-card-content>
                    </ion-card>

              </ion-row>

              <ion-row padding-top>
                <ion-col col-12>
                    <h2 padding-left class="detailTittle" >Mis métodos de pago</h2>
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-6 style="padding-top:0%!important;padding-right:0%!important;">
                      <ion-card class="product-card" style="margin-right:0%!important;">
                        <ion-card-header>
                            <h3 style="padding-left:0%!important;" class="detailTittle" padding-left>Bancomer</h3>
                              
                        </ion-card-header>
                        <ion-card-content>
                            <p class="paymentDescription">
                              VISA terminada en:
                            </p>
                            <p>9673</p>
                            <p class="paymentDescription">
                              Expira:
                            </p>
                            <ion-datetime disabled="{{paymentEdition}}" placeholder="06/28" style="padding:0%!important;" min="2018"  max="2080" displayFormat="MM/YY" ngModel="dateSet"  name="expDate"  class="text"></ion-datetime>
                            <ion-row no-padding style="margin-bottom: 2%!important;">
        
                                <ion-col col-12 no-padding text-right>
                                  <button ion-button outline small color="accent" icon-start (click)="enableEditPayment()">
                                    <ion-icon name='create'></ion-icon>
                                    Editar
                                  </button>
                                </ion-col>
                              </ion-row>
                        </ion-card-content>
                        </ion-card>
                  </ion-col>
        
                  <ion-col col-6 style="padding-top:0%!important;padding-left:0%!important;">
                      <ion-card class="product-card" style="margin-right:0%!important;">
                         
                        <ion-card-header>
                            <h3 style="padding-left:0%!important;"class="detailTittle" padding-left>Chuyólares</h3>
                        </ion-card-header>
                        <ion-card-content text-center>
                         <h1>$85.00 MXN</h1>
                            <p class="paymentDescription">
                              Balance actual
                            </p>
                            <button ion-button color="accent" round large clear icon-only>
                                <ion-icon name='add-circle'></ion-icon>
                              </button>
                              <br>
                              <h3 class="detailTittle">Agregar saldo</h3>
                        </ion-card-content>
                        </ion-card>
                  </ion-col>
              </ion-row>

            </div>

            <div *ngSwitchCase="'repartidor'">
              <ion-row>
                  <ion-card class="no-achievments-card" text-wrap>
                      <ion-card-header>
                          <h3 class="no-achievments-title">Aún no eres repartidor pero eso podría cambiar :)</h3>
                      </ion-card-header>
                      <ion-card-content>
                          <img src="imgs/donChuys/wantyou.png">
                      </ion-card-content>
                      <ion-row no-padding style="margin-bottom: 2%!important;">
                          <ion-col col-12 text-center>
                                  
                                  <h4 class="weekChallange"><ion-icon name='happy' style="padding-right: 10px"></ion-icon>Para disfrutar de los
                                  beneficios de ser repartidor sólo tienes que darte de alta :)</h4>
                          </ion-col>
                          <ion-col col-12 text-center>    
                              <button ion-button color="calm">Hacerme repartidor</button>
                              </ion-col>
                        </ion-row>
                      </ion-card>
              </ion-row>

            </div>

            <div *ngSwitchCase="'comerciante'">
                <ion-card class="no-achievments-card" text-wrap>
                    <ion-card-header>
                        <h3 class="no-achievments-title">¿Quieres ser comerciante con Don Chuy?</h3>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="assets/imgs/donChuys/commerce.png">
                    </ion-card-content>
                    <ion-row no-padding style="margin-bottom: 2%!important;">
                        <ion-col col-12 text-center>
                                
                                <h4 class="weekChallange"><ion-icon name='happy' style="padding-right: 10px"></ion-icon>Si ya tienes
                                un comercio o te gusta hacer algún tipo de producto (como unos ricos pasteles caseros) puedes darte de alta y acercarte más a tu comunidad</h4>
                        </ion-col>
                        <ion-col col-12 text-center>    
                            <button ion-button color="calm">Hacerme comerciante</button>
                            </ion-col>
                      </ion-row>
                    </ion-card>
            </div>


            </div>

        </ion-card-content>
      
      </ion-card>
      
</ion-content>
