page-profile {
    .background{
        background-color: rgba(173,224,215,1);
    }

    .homeFeed{
        margin: 0 !important;
        position: relative;
        margin-top: 14% !important;
        height: 1000px !important; 
        width: 100%;
      }

      .nopaddin-sides{
        padding-left: 8 !important;
        padding-right: 8 !important;
      }

      .userInfo{
          width: 60% !important;
      }

      .userEditIcon{
          font-size: 24px;
      }

      input[type="text"][disabled] {
        color: #4D5E68;
        opacity: 1!important;
     }

     .profileRank{
        font-size: 20px;
        font-weight: 500;
        color: #4D5E68;
        opacity: 0.8;
    }

      .profileName{
          font-size: 20px;
          font-weight: 500;
          color: #4D5E68;
      }


      .profilePicture{
          position: absolute;
          -webkit-z-index: 9;
          -moz-z-index: 9;
          -ms-z-index: 9;
          -o-z-index: 9;
          z-index: 9;
          top: 2%;
          right: 10%;
          border:5px solid white;
          border-radius: 50%;
          width: 29%;
      }

      .segment-md-accent .segment-button {
        color: #4D5E68;
        height: 60px;
    }

      .segment-md .segment-button ion-icon {
        font-size: 2.6rem;
        line-height: 4rem;
        position: absolute;
        top: 40%;
        left: 40%;
    }

    .segment-md .segment-button {
        border-top-width: 2px !important;
        border-top-style: solid;
        border-top-color: rgba(0,0,0,0.1);
    }
    .segment-button {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    .segment-md-accent .segment-button.activated, .segment-md-accent .segment-button.segment-activated {
        border-color: #4D5E68;
        color: #4D5E68;
        opacity: 1;
        height: 60px;
    }
    

    .weekly-challange-card{
        background-color: #ffab91;
        color: #fff;
      }

      .weekChallange{
        color: #ffffff;
      }

      .weeklyTitle{
        color: #ffffff;
        font-weight: 700;
      }

      .active-benefit{
        background-color: #ffab91; 
      }
      .weekChallange{
        color: #ffffff;
      }

      .benefit-title{
        color: #ffffff;
      }

      .detailTittle{
        color: #4D5E68;
        font-weight: 500;
      }

      .addressTitle{
        color: #4D5E68;
        font-weight: 500;
      }

      .no-achievments-card{
        background-color: #4D5E68;
        color: #fff;
      }

      .no-achievments-title{
        color: #ffffff;
        font-weight: 500;
      }
}
