<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button color="superLight" clear icon-only>
          <ion-icon name='paper'></ion-icon>
        </button>
    </ion-buttons>
  
    <ion-buttons end>
        
        <button ion-button color="superLight" clear icon-only (click)="onGoBasket()">
            <ion-badge *ngIf="basketProducts != 0" color="secondary">{{basketProducts}}</ion-badge>
            <ion-icon name='basket'></ion-icon>
          </button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <ion-fab left bottom>
        <button ion-fab color="calm"><ion-icon name="qr-scanner"></ion-icon></button>
        <ion-fab-list side="right">
            <button ion-button color="light">Escanear código QR de tienda</button>
        </ion-fab-list>
      </ion-fab>
<!-- Tienda recomendada-->
  <ion-grid nopadding>
    <ion-row>
      <ion-col col-12>
          <ion-card text-wrap >
              <img src="{{featuredStore.imagePath}}"/>
              <div class="overlay"></div>
              <div class="card-title">{{featuredStore.name}}</div>
              <div class="card-subtitle">{{featuredStore.description}}</div>
              <div class="store-card-action">
                 <button ion-button color="superLight" outline small (tap)="addStore(featuredStore);onGoStore()">Visitar tienda</button>
              </div>
              <div class="store-card-medals">
                  <ion-icon class="medals" 
                  *ngFor="let medals of featuredStore.medals"  
                  [name]="medals.icon" duration="1000" 
                  arrow [tooltip]="medals.medalName" 
                  positionV="bottom" ></ion-icon>
                  </div>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card  class="homeFeed">
 
    <ion-card-content class="nopaddin-sides">
      <ion-grid>
        <!-- Premio Semanal-->
        <ion-row>
          <ion-card>
          <ion-grid>
          <ion-col col-12 padding>
            <h2 class="widgetTitle">Progreso de logros</h2>
            <ion-grid>
              <ion-row>
                <ion-col col-4 align="center" class="achievement-col">
                  <circle-progress
                    [maxPercent]="100"
                    [percent]="85"
                    [radius]="20"
                    [space]="-5"
                    [unitsFontSize]="8"
                    [titleFontSize]="12"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#FEC3B7'"
                    [innerStrokeColor]="'#eeeeee'"
                    [showSubtitle]="false"
                    [animation]="true"
                    [animationDuration]="700"
                  ></circle-progress>
                  <p class="achievement-text">Cliente Regular</p>
                </ion-col>
                <ion-col col-4 align="center" class="achievement-col">
                  <circle-progress
                    [maxPercent]="100"
                    [percent]="32"
                    [radius]="20"
                    [space]="-5"
                    [unitsFontSize]="8"
                    [titleFontSize]="12"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#FFB8C6'"
                    [innerStrokeColor]="'#eeeeee'"
                    [showSubtitle]="false"
                    [animation]="true"
                    [animationDuration]="700"
                  ></circle-progress>
                  <p class="achievement-text">Rey del café</p>
                </ion-col>
                <ion-col col-4 align="center" class="achievement-col">
                  <circle-progress
                    [maxPercent]="100"
                    [percent]="58"
                    [radius]="20"
                    [space]="-5"
                    [unitsFontSize]="8"
                    [titleFontSize]="12"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#F78A9A'"
                    [innerStrokeColor]="'#eeeeee'"
                    [showSubtitle]="false"
                    [animation]="true"
                    [animationDuration]="700"
                  ></circle-progress>
                  <p class="achievement-text">Abeja recolectora</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          </ion-grid>
        </ion-card>
        </ion-row>
<!-- Premio Semanal-->
        <ion-row>
          <ion-card style="height: 100%;">
            <ion-grid>
              <ion-row>
                  <ion-col col-12 padding>
                      <h2 class="widgetTitle">Premio semanal</h2>
                      <h4 class="weekChallange">¿Qué colonia puede recolectar más miel?</h4>
                      <p class="achievement-text" style="padding-top: 2px; padding-left:5px;">Pícale a la gráfica para ver más informaicón</p>
                    <div style="display: block;">
                      <canvas baseChart
                              height="190"
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [chartType]="barChartType"
                              (chartClick)="chartClicked($event)"
                              ></canvas>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card>
        </ion-row>

        <!--Productos-->
    <ion-row>
        <ion-col col-6 style="padding:0%!important;" *ngFor="let reProduct of recommendedProducts">
            <ion-card class="product-card">
                <img [src]="reProduct.imagePath"/>
                <div class="product-overlay"  (tap)="onGoProduct(reProduct)"></div>
                <div class="product-card-likes">
                    <ion-icon name="heart" item-start></ion-icon>
                    <ion-badge  color="secondary">{{reProduct.likes}}</ion-badge>
                 </div>
                <div class="product-card-title" (tap)="onGoProduct(reProduct)">{{reProduct.name}}</div>
                <div class="product-card-subtitle" (tap)="onGoProduct(reProduct)"><ion-icon name="contact" item-start></ion-icon>  {{reProduct.seller}}</div>
                <div class="product-card-action">
                    <button ion-button color="superLight" round small  icon-only>
                        <ion-icon name='paper'></ion-icon>
                      </button>
                      <button ion-button color="superLight" round small icon-only (click)="addProductToBasket(reProduct)">
                          <ion-icon name='basket'></ion-icon>
                        </button>
                </div>
                <div class="product-card-price">
                    ${{reProduct.price}}.00
                </div>
              </ion-card>
        </ion-col>
      </ion-row>


        <!-- Fake loading -->
        <ion-row>
          <ion-col col-5></ion-col>
          <ion-col col-2 align="center">
              <ion-spinner color="primary" name="crescent"></ion-spinner>
          </ion-col>
          <ion-col col-5></ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  
  </ion-card>
    
</ion-content>