page-home {
    .background{
        background-color: rgba(173,224,215,1);
    }

    ion-card {
        position: relative;
        height: 150px;
      }
    
      .card-title {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 22px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        padding-right: 10px;
        top: 30%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .store-card-action{
        position: absolute;
        bottom: 10%;
        right: 5%;
      }

      .store-card-medals{
        position: absolute;
        bottom: 10%;
        left: 6%;
        color: white;
      }

      .medals{
        margin-right: 10px;
        font-size: 24px; 
      }

      .overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }

      .homeFeed{
        margin: 0 !important;
        height: 144%; 
        width: 100%;
      }

      .nopaddin-sides{
        padding-left: 8 !important;
        padding-right: 8 !important;
      }

      .widgetTitle{
        color: #4D5E68;
        font-weight: 700;
      }

      .achievement-col{
        padding: 0 !important;
      }

      .achievement-text{
        font-size: 10px;
      }

      .weekChallange{
        color:#757575;
      }

      .divider-col{
        border-left: 2px solid #e0e0e0;
      }

      .product-card{
        height: 140px;
      }

      .product-card-likes{
        position: absolute;
        top: 10%;
        right: 6%;
        color: #F78A9A;
      }

      .product-card-title {
        position: absolute;
        top: 27%;
        left: 6%;
        font-size: 14px;
        width: 100%;
        font-weight: 600;
        color: #fff;
      }
    
      .product-card-subtitle {
        font-size: 10px;
        position: absolute;
        top: 42%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-card-action{
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: white;
      }

      .product-card-price{
        position: absolute;
        bottom: 30%;
        left: 6%;
        font-size: 18px;
        font-weight: 600;
        color: #ADE0D7;
      }


      .product-overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }
}
