
<ion-content padding class="background">
    <button ion-button icon-left clear color="superLight" (click)="goToFactsPage()" style="position: fixed">
        <ion-icon name="arrow-back"></ion-icon>
        Atrás
      </button>
    <ion-grid style="height: 100%">
      <ion-row justify-content-center align-items-center style="height: 100%">
          <img src="imgs/logo_letra_donchuy.svg">
        <ion-card id = "login-card" class="login-card">
          <form #f="ngForm" (ngSubmit)="onSignup(f)">
            <ion-list>
                <ion-item>
                    <ion-label floating class="complement-text">Nombre</ion-label>
                    <ion-input type="text"  name="name" ngModel class="text" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating class="complement-text">Apellido</ion-label>
                    <ion-input type="text"  name="lastname" ngModel class="text" required></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating class="complement-text">Título</ion-label>
                    <ion-select name="title" class="text" required ngModel>
                        <ion-option class="text" value="Doña">Doña</ion-option>
                        <ion-option class="text" value="Don">Don</ion-option>
                        <ion-option class="text" value="Sra.">Sra.</ion-option>
                        <ion-option class="text" value="Sr.">Sr.</ion-option>
                        <ion-option class="text" value="Sta.">Sta.</ion-option>
                        <ion-option class="text" value="Lic.">Lic.</ion-option>
                        <ion-option class="text" value="Ma.">Ma.</ion-option>
                        <ion-option class="text" value="Dr.">Dr.</ion-option>
                      </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label floating class="complement-text">Cumpleaños</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" name="birthday" type="date" ngModel class="text"></ion-datetime>
                  </ion-item>
  
              <ion-item>
                <ion-label floating class="complement-text">Email</ion-label>
                <ion-input type="email"  name="email" ngModel class="text" required></ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label floating class="complement-text">Contraseña</ion-label>
                <ion-input type="password"  name="password" ngModel [minlength]="6"class="text" required></ion-input>
              </ion-item>
  
  
              <ion-grid padding>
                <ion-row justify-content-center align-items-center>
                  <ion-col col-12>
                    <button ion-button block type="submit" [disabled]="!f.valid" color="accent">
                      
                      ¡Unirme a Don Chuy!
                    </button>
                  </ion-col>
                </ion-row>
  
                <ion-row justify-content-center align-items-center>
                  <ion-col col-12>
                    <button ion-button block outline icon-left color="accent">
                      <ion-icon name="logo-facebook"></ion-icon>
                      Unirme con Facebook
                    </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
  
            </ion-list>
          </form>
        </ion-card>
      </ion-row>
    </ion-grid>
    
  </ion-content>
  
