<ion-header>

  <ion-navbar>
    <ion-title>Quiero ayudar :)</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Donar</ion-label>
    <ion-select [(ngModel)]="money" [placeholder]="10.00" interface="popover">
      <ion-option value="5">5.00</ion-option>
      <ion-option value="10">10.00</ion-option>
      <ion-option value="15">15.00</ion-option>
      <ion-option value="20">20.00</ion-option>
      <ion-option value="25">25.00</ion-option>
      <ion-option value="30">30.00</ion-option>
    </ion-select>
    <p item-end>MXN</p>
  </ion-item>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
      </ion-col>
      <ion-col col-4 aling-right>
          <button class="supportBu01" ion-button color="calm" small (tap)="close()">
              ¡AYUDAR!
            </button>
      </ion-col>
</ion-row>

<ion-row padding-left>
    <ion-col  align="center" style="text-align: left !important">
    <p class="help">También puedes acudir a la tienda y ofrecer tus servicios. ¡Te recibirán con los brazos abiertos!</p>
    </ion-col>

    <ion-col  align="center" style="text-align: center !important">
        <img src="imgs/donChuys/love.png" style="width: 50%">
        </ion-col>
</ion-row>
</ion-content>
