.md,
.ios,
.wp{
page-product {
    ion-header{
        position: relative;
        height: 29% !important;
       // background-image: url('../../assets/imgs/storeDetail/owners01.jpg')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: top left;
    }
    .layer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(147,158,164,0) 26%, rgba(77,94,104,0.23) 50%, rgba(77,94,104,0.58) 83%, rgba(77,94,104,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(26%, rgba(147,158,164,0)), color-stop(50%, rgba(77,94,104,0.23)), color-stop(83%, rgba(77,94,104,0.58)), color-stop(100%, rgba(77,94,104,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(147,158,164,0) 26%, rgba(77,94,104,0.23) 50%, rgba(77,94,104,0.58) 83%, rgba(77,94,104,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(147,158,164,0) 26%, rgba(77,94,104,0.23) 50%, rgba(77,94,104,0.58) 83%, rgba(77,94,104,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(147,158,164,0) 26%, rgba(77,94,104,0.23) 50%, rgba(77,94,104,0.58) 83%, rgba(77,94,104,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(147,158,164,0) 26%, rgba(77,94,104,0.23) 50%, rgba(77,94,104,0.58) 83%, rgba(77,94,104,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4d5e68', GradientType=0 );
    }

.darkerLayer{
    position: absolute;
    background: #4D5E68;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .page-scroll-header {
        background: rgba(77,94,104,1) !important;
        height: 15% !important;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: top left;
    }


    
    .background{
        background-color: #4d5e68;
        padding-top: 25%;
    }

    .storeHeader{
        position: absolute;      
    }

    .storeMenu{
        position: absolute;
        bottom: 10%;
        left: 6%;
        width: 50% !important;
    }

    .supportBu01{
        position: absolute;
        top: 52%;
        left: 6%;
    }

    .supportBu02{
        position: absolute;
        bottom: 13%;
        right: 6%;
    }

    .supportText{
        position: absolute;
        top: 27%;
        left: 7%;
        color: white;
    }

    .progressDone{
        position: absolute;
        bottom: 30%;
        right: 17%;
        color: white;
    }

    .progressDoneTop{
        position: absolute;
        top: 10%;
        right: 12%;
        color: white;
    }

    .goalProgress{
        position: absolute;
        width: 75%;
        bottom: 35%;
        left: 55%;
        color: white;
    }

    .goalProgressSoFar{
        position: absolute;
        width: 75%;
        bottom: 35%;
        left: 55%;
    }

    ion-card {
        position: relative;
        background-color: rgba(147,158,164,0);
      }

      agm-map{
          height: 200px;
      }

      .colaName{
          color: #ffffff;
      }

      .colaRole{
          color: #eeeeee;
      }

      .colaBio{
          color: #ffffff;
      }

      ion-item{
        background-color: #3a474e;
      }
    
      .card-title {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 22px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .store-card-action{
        position: absolute;
        bottom: 10%;
        right: 5%;
      }

      .store-card-medals{
        position: absolute;
        bottom: 13%;
        right: 6%;
        color:#eeeeee;
      }

      .medals{
        margin-right: 10px;
        font-size: 18px; 
      }

      .overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }

      .homeFeed{
        margin: 0 !important;
        height: 255%; 
        width: 100%;
      }

      .nopaddin-sides{
        padding-left: 8 !important;
        padding-right: 8 !important;
      }

      .widgetTitle{
        color: #4D5E68;
        font-weight: 700;
      }

      .basketProduct-card{
          height: 150px;
      }

      .product-card-likes{
        position: absolute;
        top: 14%;
        right: 6%;
        color: #F78A9A;
      }
    
      .product-basket-card-title {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 22px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .product-basket-card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-delete{
        position: absolute;
        top: 0%;
        right: 1%;
      }
      
      .product-basket-card-description{
        font-size: 12px;
        position: absolute;
        top: 44%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-seller{
        font-size: 12px;
        position: absolute;
        top: 56%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-action{
        position: absolute;
        bottom: 10%;
        right: 5%;
      }

      .product-basket-card-price{
        position: absolute;
        top: 37%;
        right: 10%;
        font-size: 18px;
        font-weight: 600;
        color: #ADE0D7;
      }

      .overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }

    }
}
