<ion-header id="header" [ngClass]= "{'page-scroll-header': isScrolled}" [style.background-image]="getBackground(imageHeader)" no-border>
    <div class="darkerLayer"></div>
    <div class="layer"></div>
    <ion-toolbar color="store" class="storeHeader">
      <ion-buttons start>
        <button ion-button color="superLight" clear icon-only (tap)="onCloseBasket()">
            <ion-icon name='arrow-down'></ion-icon>
          </button> 
      </ion-buttons>
  
      <ion-title>
          {{productOnView.name}}
        </ion-title>
    
      <!-- May distract user from store page, better to close store's page and see basket in home home page
      <ion-buttons end>
          <button ion-button color="superLight" clear icon-only (tap)="onGoBasket()">
              <ion-badge *ngIf="products != 0" color="secondary">{{products}}</ion-badge>
              <ion-icon name='basket'></ion-icon>
            </button>
      </ion-buttons>
    -->
  
      </ion-toolbar>
      
     <div *ngIf="!isScrolled" class="store-card-medals">
      <div *ngFor="let store of store">
          <ion-icon class="medals" 
          *ngFor="let medals of store.medals"  
          [name]="medals.icon" duration="1000" 
          arrow [tooltip]="medals.medalName" 
          positionV="top" ></ion-icon>
          </div>
        </div>
  
        <div *ngIf="!isScrolled" class="supportText">
            <ion-icon  
            name="contact" ></ion-icon>
            Vendida por: {{productOnView.seller}}
        </div>
  
        <button *ngIf="!isScrolled" class="supportBu01" ion-button color="calm" small (tap)="addProductToBasket(productOnView)">
          Agregar a canasta
        </button>
  
        <div *ngIf="!isScrolled" class="progressDone">
          <h3>${{productOnView.price}}.00 MXN</h3>
          <!--<p style="font-size: 10px;">${{((progressTotal)*(25))}} MXN / ${{((progressGoal)*(25))}} MXN</p>-->
        </div>
        <!-- 
        <div *ngIf="isScrolled" class="progressDoneTop">
           <p style="font-size: 12px;"><ion-icon  
              name="flag" ></ion-icon><strong>  Meta: </strong>${{((progressTotal)*(25))}} MXN / ${{((progressGoal)*(25))}} MXN</p>
          </div> -->

          <!--
        <div *ngIf="!isScrolled" class="goalProgressSoFar" style="z-index:7">
            <canvas baseChart
                    height="24"
                    [colors]="chartStoreColors"
                    [datasets]="barChartStoreData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="false"
                    [chartType]="barChartType"
                    (chartClick)="chartClicked($event)"
                    ></canvas>
          </div>
        -->
  <!--
        <div *ngIf="!isScrolled" class="goalProgress">
            <canvas baseChart
                    height="24"
                    [colors]="chartColors"
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="false"
                    [chartType]="barChartType"
                    ></canvas>
          </div> -->
  
   
  
        <button  *ngIf="isScrolled" class="supportBu02" ion-button color="calm" small (tap)="addProductToBasket(productOnView)">
            Agregar a canasta
          </button>
  
          
  </ion-header>
  
  
  <ion-content class="background" (press)="onResizeHeader()"  (tap)="onResizeHeader()" padding>
<!--
    <ion-card style="height: 100px;">
        <ion-slides pager>

            <ion-slide style="background-color: green">
              <h2>Slide 1</h2>
            </ion-slide>
          
            <ion-slide style="background-color: blue">
              <h2>Slide 2</h2>
            </ion-slide>
          
            <ion-slide style="background-color: red">
              <h2>Slide 3</h2>
            </ion-slide>
          
          </ion-slides>
    </ion-card>
    -->
   
      <ion-card>

          <ion-item>
            <h2 class="colaName">Descripción</h2>
            <!-- <p class="colaRole">{{productOnView.description}}</p> -->
          </ion-item>
        
          <ion-card-content padding-top>
            <p padding-top class="colaBio">{{productOnView.longDescription}}</p>
          </ion-card-content>
        
        </ion-card>
        <ion-row>
          <ion-col col-6 *ngFor="let user of users">
              <ion-card >

                  <ion-item>
                    <ion-avatar item-start>
                      <img src="{{user.profilePicture}}">
                    </ion-avatar>
                    <h2 class="colaName">{{user.name}}</h2>
                    <p class="colaRole">{{user.rank}}</p>
                  </ion-item>
                
                  <ion-card-content padding-top>
                    <p padding-top class="colaBio">{{user.review}}</p>
                  </ion-card-content>
                
                </ion-card>
          </ion-col>
        </ion-row>

        
  
  </ion-content>