<ion-header no-border>
    <ion-navbar color="calm">
    <ion-title>Verificar pedido</ion-title>
      </ion-navbar>
</ion-header>


  <ion-content class="background">
      <!-- Tienda recomendada-->
        <ion-grid padding-left padding-right>
            <ion-row>
                <ion-col col-12>
                  <ion-card >
                      <ion-toolbar color="superLight">
                          <h2 class="recommTitle" padding-left>Total a pagar: ${{totalPay}}.00 MXN</h2>
                          </ion-toolbar>
                          <h3 *ngIf="paymentMethod" padding-bottom style="padding-left: 23px !important;" class="title" >
                            <ion-icon name="cash" style="padding-right: 10px !important;"></ion-icon>Con Chuyólares</h3>
                            <h3 *ngIf="!paymentMethod" padding-bottom style="padding-left: 23px !important;" class="title" >
                                <ion-icon name="card" style="padding-right: 10px !important;"></ion-icon>Con Tarjeta</h3>
                  </ion-card>
                </ion-col>
              </ion-row>
              <!-- If there isn't credit enough in Don Chuy Balance-->
              <ion-row  *ngIf="paymentEnough && paymentMethod">
                  <ion-col col-12>
                    <ion-card padding-right>
                        <ion-toolbar color="superLight">
                            <h2 class="dangerTitle" padding-left>Chuyólares insuficientes</h2>
                            </ion-toolbar>
                            <h3 padding-bottom style="padding-left: 23px !important;" class="recommTitle">
                              A pagar: ${{totalPay}}.00 MXN / Chuyólares: ${{balance}}.00 MXN
                              </h3>
                                
                            <h3 padding-bottom style="padding-left: 23px !important;" class="dangerText" >
                              Puedes elegir <span class="dangerRecomm">otra forma de pago</span> o agregar <span class="dangerRecomm">más Chuyólares</span> a tu cuenta</h3>
                              
                    </ion-card>
                  </ion-col>
                </ion-row>

          <ion-row>
            <ion-col col-12 *ngFor="let basketProduct of basketProductsConfirmed; let i = index;">
                <ion-card class="basketProduct-card" >
                    <img [src]="basketProduct.imagePath"/>
                    <div class="overlay"></div>
                    <div class="product-basket-card-title">{{basketProduct.name}}</div>
                    <div class="product-basket-card-subtitle">{{basketProduct.units}}</div>
                    <div class="product-basket-card-description">{{basketProduct.description}}</div>
                    <div class="product-basket-card-seller"><ion-icon name="contact" item-start>
                        </ion-icon> {{basketProduct.seller}} 
                    </div>
                    <div class="product-basket-card-action">
                          {{basketProduct.amount}}
                      
                    </div>
                    <div class="product-basket-card-price">
                        ${{(basketProduct.price)*(basketProduct.amount)}}.00
                    </div>
                  </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 padding-left padding-right>
              <button ion-button block icon-left color="accent" (click)="onPay()" [disabled]="cantPay">
                Pagar
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12 padding-left padding-right>
                <button ion-button block icon-left color="accent" outline (click)="onCloseBasket()">
                  Cancelar
                </button>
              </ion-col>
            </ion-row>
        </ion-grid>
          
      </ion-content>
