page-basket-verification {
    .background{
        background-color: rgba(173,224,215,1) !important;
    }
    
    .title{
        color: #4D5E68 !important;
    }

    .dangerText{
        color: #4D5E68;
    }

    .dangerRecomm{
        color:#4D5E68;
        font-weight: 700;
    }

    .dangerTitle{
        color: #f53d3d;
        font-weight: 700;
    }


    .widgetTitle{
        color: #ffffff;
      }
    

    .recommTitle{
        color: #4D5E68;
        font-weight: 700;
    }

    .basketProduct-card{
        position: relative;
        height: 150px;
    }

      .product-basket-card-title {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 22px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .product-basket-card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-delete{
        position: absolute;
        top: 0%;
        right: 1%;
      }
      
      .product-basket-card-description{
        font-size: 12px;
        position: absolute;
        top: 44%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-seller{
        font-size: 12px;
        position: absolute;
        top: 56%;
        left: 6%;
        width: 100%;
        color: #fff;
      }

      .product-basket-card-action{
        position: absolute;
        bottom: 15%;
        right: 15%;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }

      .product-basket-card-price{
        position: absolute;
        top: 37%;
        right: 10%;
        font-size: 18px;
        font-weight: 600;
        color: #ADE0D7;
      }

      .overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }
}
