<ion-header no-border>
    <ion-toolbar color="primary" class="storesHeader">
      <ion-buttons start>
        <button ion-button color="superLight" clear icon-only>
            <ion-icon name='paper'></ion-icon>
          </button>
      </ion-buttons>
    
      <ion-buttons end>
          
          <button ion-button color="superLight" clear icon-only (click)="onGoBasket()">
              <ion-badge *ngIf="products != 0" color="secondary">{{products}}</ion-badge>
              <ion-icon name='basket'></ion-icon>
            </button>
      </ion-buttons>
      </ion-toolbar>
      <ion-searchbar placeholder="Buscar" no-bordercolor="primary" class="searchBar" (input)="getItems($event)"></ion-searchbar>
      <button ion-button class="filterButton" small color="accent" clear icon-only >
          <ion-icon name='funnel'></ion-icon>
        </button>
  </ion-header>
  
  <ion-content class="background">
  <!-- Tienda recomendada-->
    <ion-grid padding-left padding-right>
      
    </ion-grid>
  
    <ion-card  class="homeFeed">
   
      <ion-card-content class="nopaddin-sides">
        <ion-grid>
            <ion-row *ngFor="let product of regularProducts">
                <ion-col col-12>
                    <ion-card class="basketProduct-card" >
                        <img [src]="product.imagePath"/>
                        <div class="overlay" (tap)="onGoProduct(product)"></div>
                        <div class="product-card-likes">
                            <ion-icon name="heart" item-start></ion-icon>
                            <ion-badge  color="secondary">{{product.likes}}</ion-badge>
                         </div>
                        <div class="product-basket-card-title"  (tap)="onGoProduct(product)">{{product.name}}</div>
                        <div class="product-basket-card-subtitle"  (tap)="onGoProduct(product)">{{product.units}}</div>
                        <div class="product-basket-card-description"  (tap)="onGoProduct(product)">{{product.description}}</div>
                        <div class="product-basket-card-seller"><ion-icon name="contact" item-start>
                            </ion-icon> {{product.seller}} 
                        </div>
                        <div class="product-basket-card-action">
                          <button ion-button color="superLight" round small  icon-only>
                            <ion-icon name='paper'></ion-icon>
                          </button>
                          <button ion-button color="superLight" round small icon-only (tap)="addProductToBasket(product)">
                              <ion-icon name='basket'></ion-icon>
                            </button>
                        </div>
                        <div class="product-basket-card-price">
                            ${{product.price}}.00
                        </div>
                      </ion-card>
                </ion-col>
              </ion-row>
          <!-- Fake loading -->
          <ion-row>
            <ion-col col-5></ion-col>
            <ion-col col-2 align="center">
                <ion-spinner color="primary" name="crescent"></ion-spinner>
            </ion-col>
            <ion-col col-5></ion-col>
        </ion-row>
        </ion-grid>
      </ion-card-content>
    
    </ion-card>
      
  </ion-content>
