.md,
.ios,
.wp{
page-stores {
    ion-header{
        /*height: 25% !important;*/
        height: 15% !important;
    }

    .background{
        background-color: rgba(173,224,215,1);
    }

    .storesHeader{
        position: absolute;        
    }

    .filterButton{
        bottom: 2%;
        right: 8%;
        position: absolute;
    }

    .searchBar{
        bottom: 0%;
        position: absolute;
    }

    ion-searchbar{
        background-color: rgba(173,224,215,1);
        padding-left: 10%;
        border-bottom: 0; 
        width: 80%;
         .searchbar-input-container{
             background-color: none;          
             .searchbar-input{
                 border-radius: 2px;
                 
             }
         }
      }

    ion-card {
        position: relative;
        height: 150px;
      }
    
      .card-title {
        position: absolute;
        top: 10%;
        left: 6%;
        font-size: 22px;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        left: 6%;
        width: 100%;
        padding-right: 10px;
        color: #fff;
      }

      .store-card-action{
        position: absolute;
        bottom: 10%;
        right: 5%;
      }

      .store-card-medals{
        position: absolute;
        bottom: 10%;
        left: 6%;
        color: white;
      }

      .medals{
        margin-right: 10px;
        font-size: 24px; 
      }

      .overlay {
        position: absolute; 
        background: #4D5E68;
        opacity: 0.5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
      }

      .homeFeed{
        margin: 0 !important;
        height: 255%; 
        width: 100%;
      }

      .nopaddin-sides{
        padding-left: 8 !important;
        padding-right: 8 !important;
      }

      .widgetTitle{
        color: #4D5E68;
        font-weight: 700;
      }

    }
}