<ion-header no-border>
  <ion-toolbar color="primary" class="storesHeader">
    <ion-buttons start>
      <button ion-button color="superLight" clear icon-only>
          <ion-icon name='paper'></ion-icon>
        </button>
    </ion-buttons>
  
    <ion-buttons end>
        
        <button ion-button color="superLight" clear icon-only (click)="onGoBasket()">
            <ion-badge *ngIf="products != 0" color="secondary">{{products}}</ion-badge>
            <ion-icon name='basket'></ion-icon>
          </button>
    </ion-buttons>
    </ion-toolbar>

    <ion-searchbar placeholder="Buscar" no-bordercolor="primary" class="searchBar" (input)="getItems($event)"></ion-searchbar>
      <button ion-button class="filterButton" small color="accent" clear icon-only >
          <ion-icon name='funnel'></ion-icon>
        </button>
    
</ion-header>

<ion-content class="background">
<!-- Tienda recomendada-->
  <ion-grid padding-left padding-right>
    
  </ion-grid>

  <ion-card  class="homeFeed">
 
    <ion-card-content class="nopaddin-sides">
      <ion-grid>
          <ion-row *ngFor="let featuredStore of stores">
              <ion-col col-12>
                  <ion-card>
                      <img src="{{featuredStore.imagePath}}"/>
                      <div class="overlay"></div>
                      <div class="card-title">{{featuredStore.name}}</div>
                      <div class="card-subtitle">{{featuredStore.description}}</div>
                      <div class="store-card-action">
                         <button ion-button color="superLight" outline small (tap)="addStore(featuredStore);onGoStore()">Visitar tienda</button>
                      </div>
                      <div class="store-card-medals">
                          <ion-icon class="medals" 
                          *ngFor="let medals of featuredStore.medals"  
                          [name]="medals.icon" duration="1000" 
                          arrow [tooltip]="medals.medalName" 
                          positionV="bottom" ></ion-icon>
                          </div>
                    </ion-card>
              </ion-col>
            </ion-row>
        <!-- Fake loading -->
        <ion-row>
          <ion-col col-5></ion-col>
          <ion-col col-2 align="center">
              <ion-spinner color="primary" name="crescent"></ion-spinner>
          </ion-col>
          <ion-col col-5></ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  
  </ion-card>
    
</ion-content>
