
<ion-tabs color="secondary" selectedIndex="2">
  <ion-tab [root]="profilePage" tabIcon="person" tabTitle="Perfil" color="primary"></ion-tab>
  <ion-tab [root]="achievementPage" tabIcon="trophy" tabTitle="Logros" color="primary"></ion-tab>
  <ion-tab [root]="homePage" tabIcon="home" tabTitle="Inicio" color="primary"></ion-tab>
  <ion-tab [root]="storesPage" tabIcon="restaurant" tabTitle="Comercios" color="primary"></ion-tab>
  <ion-tab [root]="productsPage" tabIcon="egg" tabTitle="Productos" color="primary"></ion-tab>
</ion-tabs>
