page-basket-thanks {
    .background{
        background-color: rgba(173,224,215,1) !important;
    }

    .thanks{
        color:#ffffff;
        font-weight: 500;
    }

    .thanksText{
        color:#ffffff;
        font-weight: 400;
    }

    .animationSlide{
        position: absolute;
        z-index: -1;
        right: -17%;
        bottom: 18%
    }


    //Confetti stuff

    
}
