<ion-header no-border>
    <ion-toolbar color="calm">
    <ion-title></ion-title>
      <ion-buttons end>
          <button ion-button color="accent"  icon-only (click)="onCloseBasket()" >
              <ion-icon name="close"></ion-icon>
            </button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>


  <ion-content class="background" padding text-center>
        <lottie-animation-view class="animationSlide"
        [options]="lottieConfig01" 
        [width]="650" 
        [height]="600" 
        >
      </lottie-animation-view>

      
      <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
              <h1 class="thanks">¡Muchas gracias por tu compra!</h1>
              <img src="imgs/donChuys/love.png" style="width: 50%">
              <h4 class="thanksText">Cada compra que haces ayuda a comercios locales y a tu comunidad</h4>
              <button ion-button (click)="onCloseBasket()" color="accent" >¡A seguir contribuyendo!</button>
              <button ion-button (click)="onCloseBasket()" color="accent" outline icon-left><ion-icon name="logo-facebook"></ion-icon>Compartir en Facebook</button>
          </ion-row>
        </ion-grid>
          
  </ion-content>

